<p-toast position="top-center"></p-toast>
<div class="card m-3">
    <div class="card-header">
        <h1>Login</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="loginform">
            <!-- <div *ngIf="!logged_in">{{error_message}}</div> -->
            <p *ngIf="!logged_in" class="error_message" style="margin-left: 60px;margin-right: 60px;">{{error_message}}
            </p>
            <div class="form-group">
                <label>Login id<span class="text-danger">*</span></label>
                <input type="text" formControlName="login_id" class="form-control">
                <div *ngIf="login_id?.touched && login_id?.invalid">
                    <small class="text-danger" *ngIf="login_id?.errors?.required">Login Id is Required</small>
                    <!-- <small class="text-danger" *ngIf="login_id?.errors?.touched">Login Id is Required</small> -->
                </div>

            </div>

            <div class="form-group">
                <label>Password<span class="text-danger">*</span></label>
                <input type="password" formControlName="password" class="form-control">
                <small class="text-danger" *ngIf="password?.errors?.required"></small>
            </div>
            <div>
                <button class="btn btn-primary" [disabled]="loginform.invalid" (click)="login()">Submit</button>
                <button class="btn btn-danger ml" [disabled]="!loginform.dirty" (click)="formReset()">Reset</button>
            </div>
            <a [routerLink]="['/register-user']" class="ml-3">Don't have a Login ID, Create a ID</a>

        </form>
    </div>
</div>